# Analyzing - Looking Into How Parks in Paradise Compare to Cities of Similar Size

In [1]:
processed_outdir = '/Users/kavishharjai/code/mh_paradise/processed/'

In [2]:
import pandas as pd 
import numpy as np
import os
import altair as alt
#import pandas and numpy libraries

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
merged = pd.read_csv(processed_outdir + 'merged.csv')
merged

      Unnamed: 0            city  pop_2018_est  mh_spaces
0              0     Mead Valley         19925        NaN
1              1        Meridian           405        6.0
2              2      Mesa Verde           584        NaN
3              3  Mexican Colony           363        NaN
4              4        Midpines          1396       11.0
...          ...             ...           ...        ...
1516        1516   Beverly Hills         34362        NaN
1517        1517          Covina         48403      884.0
1518        1518        Del Aire         10065        NaN
1519        1519          Downey        112901      190.0
1520        1520        Glendale        200372        NaN

[1521 rows x 4 columns]

In [5]:
merged[merged.city == 'Paradise']

     Unnamed: 0      city  pop_2018_est  mh_spaces
183         183  Paradise         26543     1586.0
874         874  Paradise           186     1586.0

**There are two Paradise matches because the smaller one is a CDP. The larger one is the town of Paradise.**

**The population of the town of Paradise in 2018 was in the high 20,000s. I will find cities that have populations within two different ranges 20k to 30k and 25k to 35k.**

In [7]:
twenty_to_thirty = merged[(merged['pop_2018_est']>= 20000) & (merged['pop_2018_est'] <= 30000)]

In [8]:
twenty_to_thirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 12 to 1503
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    78 non-null     int64
 1   city          78 non-null     object
 2   pop_2018_est  78 non-null     int64
 3   mh_spaces     47 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.0+ KB

In [9]:
twenty_to_thirty = twenty_to_thirty.dropna()

In [10]:
sort_spaces_twenty_to_thirty = twenty_to_thirty.sort_values('mh_spaces', ascending= False)

In [11]:
sort_spaces_twenty_to_thirty

      Unnamed: 0                city  pop_2018_est  mh_spaces
1346        1346  Desert Hot Springs         28430     3277.0
702          702            Lakeside         22560     1972.0
183          183            Paradise         26543     1586.0
324          324            Rosamond         20028     1500.0
921          921             Barstow         23812     1296.0
1446        1446          Ridgecrest         28736     1078.0
351          351     American Canyon         20306      843.0
799          799        Yucca Valley         21543      772.0
651          651              Eureka         27020      768.0
764          764           Bay Point         25165      728.0
97            97    South Lake Tahoe         21814      678.0
1315        1315             Atwater         29197      628.0
1263        1263              Ramona         20260      616.0
456          456    Twentynine Palms         26109      568.0
480          480          Loma Linda         24078      530.0
466          466              Lomita         20628      525.0
872          872         Bloomington         21783      496.0
1196        1196             Oakdale         22599      479.0
596          596             Windsor         27506      437.0
260          260              Cudahy         24016      415.0
1398        1398              Marina         21608      399.0
82            82             Lemoore         25791      392.0
1079        1079              Sanger         24978      380.0
1352        1352               Selma         24598      366.0
142          142             Brawley         26009      344.0
976          976                Galt         25675      343.0
646          646             Lathrop         21393      333.0
347          347              Dinuba         23871      301.0
640          640             Benicia         28088      266.0
266          266           Riverbank         24237      247.0
340          340         Granite Bay         22439      246.0
981          981               Arvin         21005      228.0
1413        1413           Calabasas         24077      224.0
495          495             Soledad         25597      186.0
1202        1202        Laguna Beach         23147      185.0
335          335             Reedley         25493      179.0
779          779      East Palo Alto         29633      146.0
89            89              Duarte         21713      141.0
265          265           Patterson         21783      128.0
42            42          Seal Beach         24364      125.0
33            33            Corcoran         22301      120.0
326          326               Wasco         26708      107.0
969          969             Belmont         27110       91.0
910          910      Imperial Beach         27290       81.0
1481        1481        San Fernando         24585       76.0
918          918         Suisun City         29379       54.0
47            47         Lemon Grove         26767       44.0

In [12]:
twentyf_to_thirtyf = merged[(merged['pop_2018_est']>= 25000) & (merged['pop_2018_est'] <= 35000)]
twentyf_to_thirtyf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 12 to 1516
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    66 non-null     int64
 1   city          66 non-null     object
 2   pop_2018_est  66 non-null     int64
 3   mh_spaces     38 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.6+ KB

In [13]:
twentyf_to_thirtyf = twentyf_to_thirtyf.dropna()

In [14]:
sort_spaces_twentyf_to_thirtyf = twentyf_to_thirtyf.sort_values('mh_spaces', ascending= False)

In [15]:
sort_spaces_twentyf_to_thirtyf

      Unnamed: 0                city  pop_2018_est  mh_spaces
1346        1346  Desert Hot Springs         28430     3277.0
749          749            La Verne         32358     1754.0
183          183            Paradise         26543     1586.0
1446        1446          Ridgecrest         28736     1078.0
139          139             Banning         30942      981.0
753          753           San Dimas         34239      906.0
1012        1012           Fallbrook         33021      791.0
771          771         Santa Paula         30258      775.0
651          651              Eureka         27020      768.0
764          764           Bay Point         25165      728.0
1001        1001           San Pablo         30839      718.0
907          907              Goleta         30790      650.0
1315        1315             Atwater         29197      628.0
456          456    Twentynine Palms         26109      568.0
917          917             Seaside         34077      488.0
596          596             Windsor         27506      437.0
267          267          Orangevale         34757      402.0
643          643          Atascadero         30037      398.0
82            82             Lemoore         25791      392.0
142          142             Brawley         26009      344.0
976          976                Galt         25675      343.0
640          640             Benicia         28088      266.0
871          871            Adelanto         33416      257.0
35            35        Laguna Hills         31185      252.0
379          379              Orcutt         30493      235.0
495          495             Soledad         25597      186.0
335          335             Reedley         25493      179.0
691          691          Dana Point         33913      169.0
779          779      East Palo Alto         29633      146.0
1131        1131           Los Gatos         30922      139.0
472          472              Walnut         30008      133.0
750          750            Lawndale         33007      110.0
326          326               Wasco         26708      107.0
969          969             Belmont         27110       91.0
910          910      Imperial Beach         27290       81.0
918          918         Suisun City         29379       54.0
47            47         Lemon Grove         26767       44.0
670          670       Pleasant Hill         34785       43.0

### Conclusions

* Paradise's population before the fire was ~26,543.
* Paradise, compared to other similarly populated cities in 2018, had a high number of MH lots.
* When compared to cities that had a population of 20,000 to 30,000, Paradise had the third highest number of MH lots. 
* When compared to cities that had a population fo 25,000 to 35,000, Paradise had the third highest number of MH lots.
* Potential sentence for thesis:
    
    **The town of Paradise had one of the highest number of mobile home park lots compared to cities that had a similar population in 2018.**